[submodule "cm-butterfly"]
	path = cm-butterfly
	url = https://github.com/cloud-barista/cm-butterfly
[submodule "cm-mayfly"]
	path = cm-mayfly
	url = https://github.com/cloud-barista/cm-mayfly
[submodule "cm-cicada"]
	path = cm-cicada
	url = https://github.com/cloud-barista/cm-cicada
